################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Android/Android Apps/.vs/Android Apps/v15
